.ct{
    text-align: center;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.cor {
    color: black;
    text-shadow: 10px;
}

.nome{
    margin-top: 5px;
    text-align: center;
    

}
    
